@font-face {
    font-family: "DS-DIGI";
    src: url(./assets/fonts/DS-DIGI.TTF);
}

body {
    background-color: rgb(178, 198, 214);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,
footer {
    font-family: "DS-DIGI";
}

footer {
    position: fixed;
    height: 3rem;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
}

#calculator {
    background: linear-gradient(168deg,rgb(209, 209, 209) 0%, rgba(167, 168, 168, 1) 50%, rgba(138, 138, 138, 1) 100%);
    box-shadow: 5px 5px 5px rgb(68, 66, 66);
    border: 0.1px solid rgb(109, 109, 109);
    border-radius: 20px;
    height: auto;
    width: 500px;
}

#display {
    background: linear-gradient(134deg,rgb(229, 232, 235) 50%, rgba(204, 225, 237, 1) 100%);
    border: 0.1px solid rgb(109, 109, 109);
    box-shadow: inset 2px 2px 10px rgb(136, 135, 135);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: auto;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.display-text {
    font-family: "DS-DIGI";
}

#calculation {
    max-width: 100%;
    font-size: 48px;
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    overflow: hidden;
}

#entry {
    max-width: 100%;
    font-size: 72px;
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    overflow: hidden;
}

#button-panel {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    gap: 2px;
}

button {
    border-radius: 10px;;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;;
    padding: 10px;
    flex: 1 1 100px;
    height: 80px
}

.operator,
.modifier,
.control,
.operand:hover {
    background-color: rgba(84, 84, 84, 1);
    border: 0.1px solid rgb(109, 109, 109);
}

.operator:hover,
.modifier:hover,
.control:hover,
.operand {
    background-color: rgb(102, 102, 102);
    border: 0.1px solid rgb(109, 109, 109);
}

.operator:active,
.modifier:active,
.control:active,
.operand:active {
    background-color: rgb(49, 49, 49);
}

#equals {
    background-color: rgb(74, 127, 187);  
}

#equals:hover {
    background-color: rgb(34, 109, 196);  
}

#equals:active {
    background-color: rgb(18, 69, 128);  
}